* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.2rem;
    color:rgb(5, 13, 41);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

form > label, input {
    margin-right: 10px;
}

button {
    width: 20%;
    margin: 15px 15px 15px 40%;
}

p {
    margin-left: 42%;
}

.X{
    margin-left: 27.9%;
    font-size: 0.7rem;
    color:red;
}

.Y{
    margin-left: 62%;
    font-size: 0.7rem;
    color:red;
}
